.fullimg 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  width:100%;
}
.no-white
{
  background-color: #fbf1f1;
}
#patty
{
  background-image:image-url('patti.jpg');
  .offset-2
  {
    @include respond-to (tablet) 
    {
      margin-left:0;
    }
  }
  .col-8
  {
    @include respond-to (tablet) 
    {
      width:90%;
    }
  }
}
#cover
{
  background-image:image-url('cover.jpg');
  height:100vh;
  background-attachment: fixed;
}
#yellow_bg
{
  background-color:#fed818;
  position:relative;
  height:100%;
  text-align:right;
  .main-text
  {
    font-size: 20px;
  }
  .title
  {
    @include respond-to (tablet) 
    {
        margin-top:100px;
        margin-right:10%;
    }
  }
  &:before
  {
    content:'';
    width:845px;
    height:600px;
    background-image:image-url('40.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:10000000;
    left:0;
    top:27%;
    @include respond-to (bigsize) {
      width:563px;
      height:400px;
      top:45%;
    }
    @include respond-to (middlesize) {
      width:375px;
      height:266px;
      top:45%;
    }
     @include respond-to (tablet) 
    {
       z-index:0;
       opacity:0.3;
       top:10px;
    }
  }
  img
  {
    width:650px;
    padding-bottom:20px;
    @include respond-to (bigsize) {
      width:470px;
    }
    @include respond-to (tablet) 
    {
        width:100%;
    }
  }
}
#blue
{
  article
  {
      background:black;
      @include respond-to (tablet) 
    {
      background:none;
      margin-top:430px;
      width:90%;
      padding-right: 15%;
      padding-left: 5%;
    }
    @include respond-to (mob) 
    {
      margin-top:250px;
      background:black;
      padding-top:10px;
    }
  }
 background: linear-gradient(to right, black 0%,black 60%,#000000 60%,#0166b3 40%,#0166b3 100%);
 @include respond-to (tablet) 
    {
      background: linear-gradient(to top, black 0%,black 55%,#000000 55%,#0166b3 45%,#0166b3 100%);
    }
 position:relative;
 &:after
 {
   content:'';
    width:350px;
    height:100%;
    background-image:image-url('alexS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:100;
    right:10%;
    top:0%;
    @include respond-to (bigsize) {
      right:4%;
    }
    @include respond-to (middlesize) {
      right:0%;
      width:295px;
      height:100%;
    }
    @include respond-to (tablet) 
    {
      height:400px;
      width:470px;
      left:50%;
      margin-left:-235px;
      margin-top:30px;
    }
    @include respond-to (mob) 
    {
     height:210px;
      width:300px;
      margin-left:-150px;
      margin-top:20px;
    }
 }
  article
  {
    position:relative;
    z-index:100000;
  }
}
#alexCover
{
  background-image:image-url('alexCover.jpg');
  height:70vh;
  @include respond-to (bigsize) {
    height:60vh;
  }
 @include respond-to (middlesize) {
    height:55vh;
  }
  @include respond-to (mob) {
    height:20vh;
  }
}
#gram
{
  background-image:image-url('bg_gram.jpg');
  height:85vh;
}
#piano
{
  background-image:image-url('bg_piano.jpg');
}
#red_grand
{
  background: linear-gradient(to bottom, #a9090c 0%,#e43e09 100%);
  .pic_row
  {
    background-image:image-url('collage.jpg');
  }
}
#green_grand
{
  background:linear-gradient(to bottom, #a9a109 0%,#00730c 100%);
  .pic_row
  {
    background-image:image-url('collage1.jpg');
  }
}
#blue_grand
{
  background: linear-gradient(to bottom, #4e1b84 0%,#124d9f 100%);
  .pic_row
  {
    background-image:image-url('collage2.jpg');
  }
}
#red_grand,
#green_grand,
#blue_grand
{
  padding-top: 55px;
  padding-bottom: 50px;
  height: 500px;
  @include respond-to (bigsize) {
    height:auto;
  }
  
}
#movie
{
  background-image:image-url('bg_movie.jpg');
  position:relative;
  .main-text
  {
    font-size: 24px;
     @include respond-to (middlesize) {
      font-size: 22px;
    }
     @include respond-to (tablet) {
      margin-top: 430px;
      font-size: 18px;
      width:80%;
      margin-left:1%;
    }
    @include respond-to (mob) {
      margin-top: 320px;
    }
  }
  &:after
 {
    content:'';
    width:300px;
    height:300px;
    background-image:image-url('cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:100;
    left:2%;
    top:105px;
     @include respond-to (bigsize) {
      width:250px;
      height:250px;
    }
    @include respond-to (middlesize) {
      width:220px;
      height:220px;
    }
    @include respond-to (tablet) {
      width:400px;
      height:400px;
      left:50%;
      margin-left:-200px;
      top:50px;
    }
    @include respond-to (mob) 
    {
      width:300px;
      height:300px;
      margin-left:-150px;
    }
 }
 article
 {
    margin-left:90px;
    @include respond-to (bigsize) {
      margin-left:190px;
    }
    @include respond-to (middlesize) {
    margin-left:160px;
    }
    @include respond-to (tablet) {
    padding-left:5%;
    margin-left:0px;
    padding-bottom:80px;
    }
  .offset-1
  {
    @include respond-to (tablet) {
     margin-left:2%;
    }
  }
  .col-9
  {
    @include respond-to (tablet) {
    width:100%;
    }
  }
 }
}
#black
{
  background-color:black;
  img
  {
    display:block;
    margin:10px;
    @include respond-to (bigsize) {
      margin-left:190px;
    }
    @include respond-to (tablet) {
      margin:30px  auto;
      width:70%;
    }
  }
}
#green-blue
{
  background-color: #081c1c;
}

#elvis_bg
{
  background-image:image-url('elvisBg.jpg');
  height:50vh;
   @include respond-to (tablet) {
      height:30vh;
    }
  @include respond-to (mob) {
      height:20vh;
    }
}
#slider_beatles
{
  background-color: #032623;
  .swiper-slide img
  {
    height:80vh;
    width: auto;
    @include respond-to (tablet) {
      height:50vh;
      margin-bottom:7%;
    }
    @include respond-to (mob) {
      height:30vh;
      margin-bottom:7%;
    }
  }
  img
  {
    margin:5% 0;
  }
}
#triangle
{
  background-image:image-url('triangle.jpg');
}
#stormbg
{
  background-image:image-url('stormbg.jpg');
  height:60vh;
   @include respond-to (tablet) {
       height:30vh;
    }
    @include respond-to (mob) {
      height:20vh;
    }
}
#blur
{
  background-image:image-url('blur.png');
}
#end
{
  background-image:image-url('endbg.jpg');
  height:100vh;
  @include respond-to (middlesize) 
    {
      height:90vh;
    }
  @include respond-to (tablet) 
    {
      height:60vh;
    }
   @include respond-to (mob) 
    {
      height:30vh;
    }
}



















