.fullimg 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  width:100%;
}
.no-white
{
  background-color: #fbf1f1;
}
#patty
{
  background-image:image-url('patti.jpg');
}
#cover
{
  background-image:image-url('cover.jpg');
  height:100vh;
  background-attachment: fixed;
}
#yellow_bg
{
  background-color:#fed818;
  position:relative;
  height:100%;
  text-align:right;
  .main-text
  {
    font-size: 20px;
  }
  &:before
  {
    content:'';
    width:845px;
    height:600px;
    background-image:image-url('40.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:100;
    left:0;
    top:27%;
    @include respond-to (bigsize) {
      width:563px;
      height:400px;
      top:45%;
    }
  }
  img
  {
    width:650px;
    padding-bottom:20px;
    @include respond-to (bigsize) {
      width:470px;
    }
  }
}
#blue
{
 background: linear-gradient(to right, black 0%,black 65%,#000000 65%,#0166b3 35%,#0166b3 100%); 
 position:relative;
 &:after
 {
   content:'';
    width:350px;
    height:100%;
    background-image:image-url('alexS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:100;
    right:10%;
    top:0%;
    @include respond-to (bigsize) {
      right:4%;
    }
 }
  article
  {
    position:relative;
    z-index:100000;
  }
}
#alexCover
{
  background-image:image-url('alexCover.jpg');
  height:70vh;
  @include respond-to (bigsize) {
    height:60vh;
  }
}
#gram
{
  background-image:image-url('bg_gram.jpg');
  height:85vh;
}
#piano
{
  background-image:image-url('bg_piano.jpg');
}
#red_grand
{
  background: linear-gradient(to bottom, #a9090c 0%,#e43e09 100%);
  .pic_row
  {
    background-image:image-url('collage.jpg');
  }
}
#green_grand
{
  background:linear-gradient(to bottom, #a9a109 0%,#00730c 100%);
  .pic_row
  {
    background-image:image-url('collage1.jpg');
  }
}
#blue_grand
{
  background: linear-gradient(to bottom, #4e1b84 0%,#124d9f 100%);
  .pic_row
  {
    background-image:image-url('collage2.jpg');
  }
}
#red_grand,
#green_grand,
#blue_grand
{
  padding-top: 55px;
  padding-bottom: 50px;
  height: 500px;
  @include respond-to (bigsize) {
    height:auto;
  }
  
}
#movie
{
  background-image:image-url('bg_movie.jpg');
  position:relative;
  .main-text
  {
    font-size: 24px;
  }
  &:after
 {
    content:'';
    width:300px;
    height:300px;
    background-image:image-url('cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:100;
    left:2%;
    top:105px;
     @include respond-to (bigsize) {
      width:250px;
      height:250px;
    }
 }
 article
 {
   margin-left:90px;
   @include respond-to (bigsize) {
    margin-left:190px;
  }
 }
}
#black
{
  background-color:black;
  img
  {
    display:block;
    margin:10px;
    @include respond-to (bigsize) {
      margin-left:190px;
    }
  }
}
#green-blue
{
  background-color: #081c1c;
}
#elvis_bg
{
  background-image:image-url('elvisBg.jpg');
  height:60vh;
}
#elvis_bg
{
  background-image:image-url('elvisBg.jpg');
  height:50vh;
}
#slider_beatles
{
  background-color: #032623;
  .swiper-slide img
  {
    width:60%;
    
  }
}
#triangle
{
  background-image:image-url('triangle.jpg');
}
#stormbg
{
  background-image:image-url('stormbg.jpg');
  height:60vh;
}
#blur
{
  background-image:image-url('blur.png');
}
#end
{
  background-image:image-url('endbg.jpg');
  height:100vh;
}



















