html, body, p{
  padding: 0px;
  margin: 0px;
}
html, body{
  overflow-x:hidden;
}
.article {
  padding: 0px !important;
}
.RHZMwrapper {
  background-color: #fff;
  font-family: $fontMain;
  padding-top: 30px;
  padding-bottom: 30px;
}
.article-header h1 {
  line-height: 1;
}
.illustration{
  width: 100%;
  display: block;
  margin: 0 auto 0;
}
 @-webkit-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
    @-moz-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
.img_white_border
{
  border-bottom:6px solid white;
}    
.moved_pic
{
  height: 389px;
  position: relative;
  overflow: hidden;
}
.pic_row
{
  width: 3197px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -webkit-animation: moveSlideshow 80s linear infinite;
  -moz-animation: moveSlideshow 80s linear infinite;
  -webkit-transform: translate3d(0,0,0);
}    
// 
.swiper-slide img{
  width: 100%;
}
.swiper-container img[data-type="gif"]
{
  width:40%;
  margin:2%;
}
