---
title: index
---

.RHZMcontainer-fluid

  .RHZMrow
    .col-7.offset-4
    
      %p.main-text.rhzm-editable вводная часть рыба (Художник Олег Устинов, гость очередного artist talk в Школе дизайна НИУ ВШЭ, — о живописи, медиа-взломе и провокациях, без которых искусства нет.)
      // .illust-holder
  .RHZMrow
    .col-12.offset-0
      %img.illustration.illustr_hack{:src => "./assets/images/picture6.jpg", :alt => ""}

  .RHZMrow.border
    .col-8.offset-2
      %p.main-text.rhzm-editable &laquo;Дизайн, ассоциируемый с&nbsp;эпохой ар-нуво, был моделированием существующего. Именно поэтому главный критик этого стиля Адольф Лооз связывает ар-нуво с&nbsp;покрытым татуировками телом. Для Лооза, нанесение на&nbsp;поверхности тел орнаментальных мотивов имеет этические последствия. Стремление покрыть органическим орнаментом все вещи связывается с&nbsp;зашумлением коммуникации и&nbsp;утратой искренности в&nbsp;общении с&nbsp;окружающим миром&raquo;
      %img.illustration.picture_in_box{:src => "./assets/images/picture1.jpg", :alt => ""}
      %p.footnote.rhzm-editable.picture_in_box Интерьер в&nbsp;стиле Ар-нуво.


  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold Боря, в&nbsp;своей лекции ты&nbsp;говорил о&nbsp;потере коммуникативной искренности в&nbsp;модерне как симптоме времени. В&nbsp;ответ на&nbsp;это конструктивисты сформулировали идею &laquo;производственного искусства&raquo;, как стремление к&nbsp;ясным и&nbsp;честным отношениям, в&nbsp;первую очередь с&nbsp;повседневными вещами. Как ты&nbsp;думаешь, актуальны&nbsp;ли сейчас эти идеи &laquo;практического&raquo; искусства?
      %p.main-text.rhzm-editable Я&nbsp;так не&nbsp;считаю, хотя в&nbsp;начале 2000-х мы&nbsp;действительно пережили возрождение исследовательского интереса к&nbsp;этой исторической вехе. Прошло множество авторитетных круглых столов, были прочитаны сотни докладов. И&nbsp;всё&nbsp;же в&nbsp;идеях конструктивистов вещь очень часто предстает как фабричная единица, а&nbsp;производство является тем процессом, который непосредственно связан с&nbsp;жизнью огромного количества людей.
      %p.main-text.rhzm-editable Сегодня&nbsp;же вещь или объект&nbsp;&mdash; это не&nbsp;производная единица. Она гораздо ближе к&nbsp;тому, что называют галлюцинацией или, как в&nbsp;старинных трактатах, &laquo;созерцанием&raquo;. Вещь, безусловно, имеет материальную &laquo;точку входа&raquo;, но&nbsp;она скрыта от&nbsp;нас. Мы&nbsp;не&nbsp;знаем, как работает монитор, мы&nbsp;не&nbsp;знаем как эти пиксели физически воплощаются в&nbsp;картинки и&nbsp;образы, при этом железо и&nbsp;софт производятся очень узкой группой технологически подготовленных людей. То&nbsp;есть конструктивистская битва за&nbsp;прозрачность производства и&nbsp;ясность в&nbsp;отношении функций сегодня кажется по&nbsp;необходимости проигранной.
      %p.main-text.rhzm-editable Чтобы сегодняшний мир осуществился, необходимо было «скрывать» производственные процессы, а не обнажать их. Если мы хотим сегодня изменить что-то в сложившихся отношениях, мы должны отдавать себе отчет в наших стартовых условиях, а они невероятно далеки от ситуации начала прошлого века. Таково мое субъективное мнение.


  .RHZMrow.border
    .col-8.offset-2
      %p.main-text.rhzm-editable &laquo;Главную проблему, которую поставил авангард в&nbsp;изводе &bdquo;производственного искусства&ldquo; можно сформулировать в&nbsp;качестве ответа на&nbsp;экспансию декоративного и&nbsp;вычурного модерна. Бесконечная текстуризация теперь уступает место кристальной ясности производственных отношений, в&nbsp;которые вступает вещь. Так тезис Александра Родченко о&nbsp;создании &bdquo;вещей-товарищей&ldquo; означал, что морфология повседневных объектов могла говорить с&nbsp;нами честно, открывая все нюансы производственных отношений, составляющих историю вещи. То&nbsp;есть сама вещь становилась помощником в&nbsp;деле производства. Это ярко противопоставлялось спиритуальной субъективности модерна&raquo;
      %img.illustration.picture_in_box{:src => "./assets/images/picture2.jpg", :alt => ""}
      %p.footnote.rhzm-editable.picture_in_box Людмила Протопопова. Чайный сервис с&nbsp;индустриальными мотивами. Ломоносовский фарфоровый завод. 1930-ые.
    
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold На&nbsp;твой взгляд, какие процессы сегодня происходят в&nbsp;отношениях между дизайном и&nbsp;искусством?
      %p.main-text.rhzm-editable Я&nbsp;думаю, что в&nbsp;последние несколько лет вопрос о&nbsp;соотношении искусства и&nbsp;дизайна снова обострился. Это связано с&nbsp;тем, что цифровые технологии выявили ранее не&nbsp;столь акцентированную сторону этих практик. Например, сегодня становится всё очевиднее, что основная задача дизайна&nbsp;&mdash; визуализировать несуществующее, или вообще придавать материальную форму неструктурированному потоку данных.
      %p.main-text.rhzm-editable Меня будоражит сюжет, приведенный в&nbsp;нескольких книгах Бруно Латура, о&nbsp;том, как на&nbsp;компьютере впервые была смоделирована версия модели ДНК. То, что мы&nbsp;имеем сегодня&nbsp;&mdash; это лишь один из&nbsp;ее&nbsp;вариантов, обладающий лаконичным функциональным выражением. Такова работа дизайна&nbsp;&mdash; он&nbsp;превращает &laquo;черти что&raquo; (ведь никто не&nbsp;знает, как в&nbsp;действительности выглядит ДНК) в&nbsp;эйкон, в&nbsp;материально выраженный объект. Если&nbsp;же мы&nbsp;взглянем на&nbsp;современное искусство, то&nbsp;оно, освободившись от&nbsp;функциональных задач, подспудно освободилось и&nbsp;от&nbsp;сопутствующей цели изобретать материальное с&nbsp;нуля.
      %p.main-text.rhzm-editable При этом из уст многих теоретиков современного искусства можно было слышать довольно снобистские высказывания в адрес дизайна. Эти разговоры во многом следуют по накатанной тропке, где функциональное очерняет канонизированное. Я же считаю, что оппозиция функционального и нефункционального больше не действует, роли игроков с тех пор серьезно изменились и это связано в первую очередь с доминирующей позицией виртуального, с возникновением «виртуального повседневного».


  .RHZMrow.border
    .col-8.offset-2
      %p.main-text.rhzm-editable &laquo;Дизайн как особая деятельность, придающая форму и&nbsp;функциональный смысл бесформенному, появляется в&nbsp;конце 50-х годов, в&nbsp;эпоху кибернетики, общей теории информации, когда дизайнер получает доступ к&nbsp;различным интерфейсам. Самый яркий пример этой деятельности&nbsp;&mdash; компьютерное моделирование спирали ДНК, которую можно назвать &bdquo;орнаментом новейшей эпохи&ldquo; и, безусловно, шедевром дизайна. Вместе с&nbsp;тем, дизайн ранее всегда обеспечивал уже укомплектованный функциональный мир, тогда как теперь в&nbsp;концепцию дизайна начинают включать активный элемент изобретения, создания целых миров&raquo;
      %img.illustration.picture_in_box{:src => "./assets/images/picture3.jpg", :alt => ""}
      %p.footnote.rhzm-editable.picture_in_box Работа современного художника Мирче Кантор. &laquo;Эпический фонтан&raquo;, 2012.
      
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold Ты&nbsp;говоришь, что искусство избавилось от&nbsp;цели изобретения материального. Но&nbsp;отражаются&nbsp;ли тогда какие-либо тенденции искусства в&nbsp;повседневной жизни?
      %p.main-text.rhzm-editable Начиная с&nbsp;конца XIX&nbsp;века, что особенно видно в&nbsp;символизме и&nbsp;модерне, художник и&nbsp;его искусство были направлены на&nbsp;изобретение новых стилей жизни. Так появляется всем известный декадент как персонаж, произведенный самим искусством. В&nbsp;этот&nbsp;же момент повседневность буквально обожествляется. Все важнейшие исследования в&nbsp;XX веке были порождены интересом к&nbsp;проблематике повседневности. То&nbsp;есть, не&nbsp;искусство отражается в&nbsp;повседневности, а&nbsp;совсем наоборот&nbsp;&mdash; повседневность сама по&nbsp;себе является именно художественным проектом, на&nbsp;реализацию которого необходимы огромные творческие ресурсы.
      %p.main-text.rhzm-editable Сегодня, поскольку я&nbsp;много говорю о&nbsp;виртуалистике, для меня важны взаимоотношения сюрреализма и&nbsp;психоанализа с&nbsp;концепцией повседневности. Эти два центральных направления характеризуются попыткой вписать сновидение и&nbsp;галлюцинацию в&nbsp;ландшафт обыденности. Эти художники и&nbsp;психоаналитики проделали серьезную работу по&nbsp;описанию того, что раньше считалось чудом с&nbsp;позиций позитивизма и&nbsp;материализма. Они обратили внимание на&nbsp;саму механику чудес в&nbsp;повседневном опыте, они перешли от&nbsp;метафизики и&nbsp;онто-теологии к&nbsp;анализу психической работы. В&nbsp;результате этого жеста и&nbsp;была произведена повседневность.
      %p.main-text.rhzm-editable Я&nbsp;думаю, что искусство удерживает повседневность на&nbsp;себе, тащит ее&nbsp;на&nbsp;своих плечах. Любое искусство изобретает ту&nbsp;повседневность, в&nbsp;которую нам следует поверить. Если мы&nbsp;разрушим искусство (что, кстати, я&nbsp;предвкушаю с&nbsp;неким аппетитом), то&nbsp;мы&nbsp;лишимся привычного рутинного мира. В&nbsp;этом есть некий ход, согласитесь? Ведь обычно нам кажется, что у&nbsp;нас есть островок искусства, только в&nbsp;пределах которого мы&nbsp;и&nbsp;можем оставаться свободными, где мы&nbsp;можем порывать с&nbsp;рутиной и&nbsp;так далее. На&nbsp;самом&nbsp;же деле поле современного искусства как&nbsp;бы сцеживает все наши протестные и&nbsp;вольные опыты, чтобы потом подключать их&nbsp;к&nbsp;расписанию нашего дня в&nbsp;качестве привычных дел. Искусство это и&nbsp;есть повседневность.

  .RHZMrow.border
    .col-8.offset-2
      %p.main-text.rhzm-editable &laquo;Художники Андреас Зикман и&nbsp;Алиса Крайшер пытаются разработать тему &bdquo;политического дизайна&ldquo;, при этом заставив человека задуматься о&nbsp;том, какую роль играет образ и&nbsp;фигурация в&nbsp;формировании нашего социального поведения. Одна из&nbsp;стратегий современного искусства, таким образом, заключается в&nbsp;экспроприации технологий, выработанных в&nbsp;русле дизайна&raquo;
      %img.illustration.picture_in_box{:src => "./assets/images/picture4.jpg", :alt => ""}
      %p.footnote.rhzm-editable.picture_in_box Художник Андреас Зикман. Рукопожатие и&nbsp;невидимая рука (фрагмент), 2008.

  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold Во&nbsp;время лекции ты&nbsp;несколько раз высказывал мысль о&nbsp;глубинной взаимосвязи дизайна и&nbsp;цифровых технологий. Не&nbsp;мог&nbsp;бы рассказать поподробнее, что ты&nbsp;думаешь про нематериальный дизайн, который не&nbsp;привязан к&nbsp;объектам?
      %p.main-text.rhzm-editable Характерный пример в&nbsp;этом отношении: я&nbsp;подхожу к&nbsp;банкомату и&nbsp;снимаю деньги. Передо мной всплывает интерфейс, я&nbsp;нажимаю на&nbsp;иконки сенсорной панели и&nbsp;получаю свои деньги. После меня в&nbsp;банк приезжает вор, заарканивает банкомат и&nbsp;вырывает его с&nbsp;корнем, забирая все деньги. Когда я&nbsp;действую в&nbsp;первом случае, я&nbsp;полностью определяю себя изнутри виртуальных транзакций. Когда действует вор, он&nbsp;держит в&nbsp;голове, что всю эту эфемерное облако можно сломать, выдернуть шнур, вынырнув в&nbsp;офлайн.
      %p.main-text.rhzm-editable Другой тип&nbsp;&mdash; это хакеры, которые действуют внутри виртуального мира, но&nbsp;верят в&nbsp;возможность выхода из&nbsp;него, тем самым подрывая его целостность. Мне кажется, эти три стратегии сегодня актуальны именно в&nbsp;описанных мной воплощениях. Чтобы мыслить критически, необходимо понимать, что нематериальному объекту всегда соответствует материальный&nbsp;&mdash; нам только необходимо его обнаружить. Если мы&nbsp;попадаем в&nbsp;ситуацию солипсистского лабиринта, то&nbsp;это вовсе не&nbsp;означает, что &laquo;точки входа&raquo; не&nbsp;существует вовсе.
      %p.main-text.rhzm-editable Это идеология сегодняшнего капитала, который полностью конвертировался в «святой дух» нематериальной волюты. Однако мы можем сопротивляться этому, перебивая материальные артерии, которые скрыты глубоко внутри, в тумане образов и иконок, в дымке всех этих псевдонавигаций. Капитал схож с климатом – он как бы «всеприсутствует».


  .RHZMrow.border
    .col-8.offset-2
      %p.main-text.rhzm-editable &laquo;1968 год имел чрезвычайно важные мировоззренческие последствия. Именно он&nbsp;переконвертировал бунт и&nbsp;революцию в&nbsp;&bdquo;фанк&ldquo;, сделав свободу объектом моды. Это произвело нового субъекта, если угодно, субъекта &bdquo;кремниевой долины&ldquo;, который отдыхает, работая и&nbsp;работает, отдыхая. Каждый теперь художник, но&nbsp;и&nbsp;каждый&nbsp;&mdash; дизайнер собственной субъективности. Именно с&nbsp;этого момента мы&nbsp;можем говорить о&nbsp;появлении тотального дизайна или самодизайна, который сфокусирован не&nbsp;столько на&nbsp;облике вещей, сколько на&nbsp;технологии внутренних состояний. Безусловно, это тот урок, который дизайн получил от&nbsp;психоделической и&nbsp;техноидной культуры хиппи&raquo;
      %img.illustration.picture_in_box{:src => "./assets/images/picture5.jpg", :alt => ""}
      %p.footnote.rhzm-editable.picture_in_box Серия книг, оформленная Bruce Mau Design.

  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold Подводя итог нашей беседы&nbsp;&mdash; чтобы ты&nbsp;мог назвать &laquo;объектом нашего времени&raquo;?
      %p.main-text.rhzm-editable Думаю, абсолютный объект нашего времени&nbsp;&mdash; это наша Земля и&nbsp;климат как особый феномен этого &laquo;всеприсутствия&raquo;. Вопрос все тот&nbsp;же&nbsp;&mdash; как человек будет заклинать эти стихии?


